.top{
	width:1190px;
}
.top .top-left ul li{
	height:36px;
	line-height:36px;
	float:left;
	padding-right:20px;
}
.top .top-left ul li span{
	font-size:12px;
}
.top .top-left ul li img{
	height:6px;
	width:8px;
	padding-left:8px;
	padding-top:0px;
}
.top .top-left ul li a.list1{
	font-size:12px;
	color:#F23000;
}
.top .top-left ul li a.list2{
	font-size:12px;
	color:#6C6C6C;
	padding-left:2px;
}
.top .top-left ul li a.list3{
	font-size:12px;
	color:#6C6C6C;
}
.top .top-right ul li{
	float:left;
	height:36px;
	line-height:36px;
}
.top .top-right ul li span{
	padding:0px 13px;
	color:#DFDFE4;
}
.top .top-right ul li a{
	font-size:12px;
	color:#6C6C6C;
	padding-left:5px;
	
}
.top .top-right ul li a img{
	height:15px;
	width:15px;
	vertical-align:-2px;
	padding:0px 4px 0px 10px;
}
.top .top-right ul li img{
	height:6px;
	width:8px;
	padding-left:6px;
	vertical-align:2px;
}
.top .top-right ul li a:hover{
	color:#F23000;
}

.title{
	height:120px;
	background-color:#fff;
}
.title .title-left{
	padding:30px 22px;
}
.title .title-right{
	border:1px solid #EEEEEE;
	position:relative;
	height:90px;
	width:76px;
	margin-right:110px;
	margin-top:22px;
}
.title .title-right a{
	font-size:12px;
	color:#FF5100;
	position:absolute;
	top:2px;
	text-align:center;
}
.title .title-right a img.pic1{
	height:16px;
	width:16px;
	position:absolute;
	left:-17px;
}
.title .title-right a img.pic2{
	height:62px;
	width:62px;
	margin:6px 7px;
}
.title .title-body .title-body-top ul li{
	float:left;
	padding:24px 0px 0px 17px;
}
.title .title-body .title-body-top ul li a.con{
	background-color:#FF4700;
	height:22px;
	width:36px;
	color:#fff;
	margin-left:30px;
}
.title .title-body .title-body-top ul li a{
	color:#FF4700;
	font-size:12px;
	border-radius:8px 8px 0px 0px;
	padding:4px 8px;
	height:22px;
}
.title .title-body .title-body-top ul li a:hover{
	background-color:pink;
}
.title .title-body .title-body-body .body-left input{
	width:558px;
	height:40px;
	border:2px solid #FF5100;
	border-radius:20px 0px 0px 20px;
	margin-left:30px;
	padding-left:5px;
	box-sizing:border-box;
	float:left;
}
.title .title-body .title-body-body .body-left .pic3{
	height:20px;
	width:20px;
	z-index:100;
	
}
.title .title-body .title-body-body .body-left .pic4{
	height:30px;
	width:30px;
}
.title .title-body .title-body-body .body-right button{
	float:right;
}



























